node_modules/
.firebase/
firebase-debug.log
*.local
.DS_Store
.codeoss/
public/firestore.rules
.cache/
.gemini/
.config/
firestore-debug.log
dist/
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local